<template>
  <div class="hello">
    <h1>Welcome to administrator page</h1>
    <h2>{{msg}}</h2>
    <!-- <ul id="example-1"> -->
    <ul v-for="item in items" :key="item._id">
      <li>{{ item.firstname }}
        <button @click="Delete($event, item._id)">Delete</button>
      </li>
    </ul>
    <div>{{ socketMessage }}</div>
    <!-- </ul> -->
  </div>
</template>

<script>
  import axios from 'axios'
  import _ from 'underscore'
  import io from 'socket.io-client'

  export default {
    data() {
      return {
        msg: 'The Admin',
        items: {},
        socket: io('localhost:3000'),
        socketMessage: ''
      }
    },
    created() {
      this.fetchData();
      this.socket.emit('message','hello');
      this.socket.on('message', (msg) => {
        console.log(msg);
          this.socketMessage = msg
      });
    },

    watch: {
      '$route': 'fetchData'
    },

    methods: {
 
      fetchData() {
        let me = this;
        axios.get('/api/users/all')
          .then((resp) => {
            me.items = resp.data.users
            console.log(resp.data.users)
          })
          .catch((err) => {
            console.log(err)
          })
      },
      Delete(e,id) {
        // axios.delete('api/'+user_id+'/delete').then(resp) => { me.users = resp.data.users;})
        // .catch((err) => {
        //   console.log(err)
        // })
        //e.target.parentElement.remove();
        let me = this;
        axios.delete('api/users/delete/'+id).then( resp => {
          //me.users = resp.data.users;
          console.log(resp)
          me.items = _.reject(me.items,function(user){
              return user._id === id
          })
        })
        .catch((err) => {
          console.log(err)
        })
      }

    }
  }

</script>
<style scoped>
  h1,
  h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

</style>
